@model Lawyer

<p>
   <b>@Model.LawyerName @Model.LawyerStatus</b> İsimli Kullanıcıyı Silmek İstiyor Musunuz?

   <form asp-action="Delete" method="post">
       <input type="hidden" value="@Model.LawyerId" name="id">
       <button type="submit" class="btn btn-danger">Evet</button>
       <a asp-action="Index" class="btn btn-primary">Hayır</a>
   </form>
</p>
